.card{
    width: 90%;
    border: solid #FF339C ;
    border-radius: 0.5rem;
    border-width: 3px; 
    margin-bottom: 35px;
    background-color:#FF339C ;
    box-shadow: 0 0 20px rgb(255, 0, 216);
       &:hover {
        box-shadow: 0 0 80px rgb(98, 255, 0);
        }

  
        @include tablet {
            margin: 10px ;
            width: 90%;
            }

            @include desktop {
            margin: 20px ;
            width: 80%;
              }
      
       &__character{
        
        &--img{
    //  width: 18.75rem;
        width: 100%;
        border-radius: 0.5rem;
        height: auto;
        align-content: center;
        align-self: center;
        }

        &--text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
        }
        
        &--title{
        font-size: 1rem;
        color: #acd14a;
        padding-left: 0.2rem;
        
        }
        
        &--species{
         color:#01B1C9;
         padding-left: 0.2rem;
        }

        &--status{
         padding-left: 0.75rem;
         font-size: 30px;
        align-self: center;
        }
    }
}

.card-next{
    border: solid #01B1C9 ;
    background-color:#01B1C9;
    box-shadow: 0 0 80px rgb(0, 178, 248);
    
    .title-next{
     color: white;
    }

    .text-next{
        color: white;
    }
}