
.copy{
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        }
        .authorName{
            display: block;
            
        }
    }